html,
body {
  width: 100vw;
  height: 100vh;


  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    display:flex;
    justify-content: center; 
    align-content: center;
}


.containerIndex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width:100%;
  height:100%;
  padding:10px;
}


#h1index{
  color:#DDDDDD;
  padding:20px;
}

#h12index{
  color:#574074;
}

#tituloindex{

  background-color: #574074;
  border-bottom: solid;
  border-width: thin;
  border-color:#5740741e;
}

.corpoformulario{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  padding:25px;
  border:solid;
  border-width: thin;
  border-color:rgb(195, 201, 206);
  transition: border-color 1.5s;
}

.corpoformulario:hover{
  border-color: #574074
}

#botao{
  background-color:#574074;
}

.f1{
  margin-top:15px;
}

#btn{
  display: flex;
  justify-content: stretch;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
