
#h1Grande{
  font-size: 50px;
  color:#1976D2;
}

html,
body {
  width: 100vw;
  height: 100vh;


  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    display:flex;
    justify-content: center; 
    align-content: center;
}

#primeiroContainer{
  margin-top: 80%;

}

.containerIndex{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: red;
  width: 100vw;
  height: 100vh;
}

.corpoformulario{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#f1{
  background-color: red;

}
#f2{


}
#f3{


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
