html,
body {


  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


}


.containerIndex{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height:100%;
}
.navbar{
  float:center;

  display:block;
  overflow: hidden;
  color:#dddddd;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #574074;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.772) 0px 5px 20px -5px;
} 

.titulonavbar{
  margin:10px;
}


#h12index{
  color:#574074;
}

.botaohome:hover{
  cursor:pointer; 
  background-color: #523c6d;
} 
.botaohome{
  padding: 10px;
  display:flex;
  justify-content:space-around;

}

.corpoformulario{
  margin-top:60%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  padding:25px;
  border:solid;
  border-width: thin;
  border-color:rgb(195, 201, 206);
  transition: border-color 1.5s;
}

.corpoformulario:hover{
  border-color: #574074
}

#botao{
  background-color:#574074;
}

.f1{
  margin-top:15px;
}

#btn{
  display: flex;
  justify-content: stretch;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


























.tituloHome{
  margin-left: 1%;
  margin-right:1%;
  padding-left: 4%;
  color:#786190;
  border-bottom:solid;
  border-width:thin;
}

.containerTituloHome{
  border:solid;
  border-color: #786190;
  border-width:thin;
  margin:8%;
}

.cardsHome{
  padding:4%;
  margin: 1%;
  
}
.card{
  background-color: gray;
}
.card:hover{
  cursor:pointer;

}







@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
